@using ASP.NET.Services
@model IEnumerable<Student>

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}
@inject IStudentService StudentService

Student count: @StudentService.GetAll().Count()
<table class="table table-striped">
    <thead>Students</thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Class</th>
        <th>Years</th>
        <th>Address</th>
    </tr>
        @foreach (var student in @Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Class</td>
                <td>@(DateTime.Now.Year - student.Birthday.Year)</td>
                <td>@student.Address</td>
            </tr>
        }
</table>